<%= form_with model: [health_record, health_record_comment], local: false do |f| %>
  <div class="col-4 mt-5 mb-2">
    Comments: <%= health_record.health_record_comments.count %>
  </div>
  <div class="col-4">
    <%= f.text_area :comment, rows: '4', placeholder: "コメントをここに", class: "form-control width-5", id: "comment_textarea"  %>
  </div>
  <div class="col-4 mt-1 mb-3 text-right">
    <%= f.submit "Send", class: "btn btn-outline-success btn-sm" %>
  </div>
<% end %>