<div class='container mt-4'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>Editing Group</h3>
      <%= render 'public/groups/form', group: @group %>
    </div>
  </div>
</div>