<div class="container d-flex flex-column align-items-center text-left mt-5 mb-5">
  <div>
    <h3 class="mb-3 mt-4">You have sended a mail successfully.</h3>
    <p class="mb-4">The content is as follows</p>
    <div>
      [Title]<p class="font-weight-bold"> <%= @mail_title %></p>
    </div>
    <div>
      [Opinion]<p class="font-weight-bold"> <%= safe_join(@mail_content.split("\n"),tag(:br)) %></p>
    </div>
  </div>
</div>