<div class="container d-flex flex-column align-items-center text-left mt-3 mb-3">
  <div>
    <h3 class="mb-3 mt-3">You have sended a mail successfully.</h3>
    <p class="mb-3">The content is as follows</p>
    <div class="mb-4">
      [Title]<p class="font-weight-bold mt-2"><%= @mail_title %></p>
    </div>
    <div class="mb-4">
      [Opinion]<p class="font-weight-bold mt-2"><%= safe_join(@mail_content.split("\n"),tag(:br)) %></p>
    </div>
  </div>
</div>