<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h1><strong>All Tags</strong></h1>
    </div>
  </div>

  <div class="col-md-12 mt-5">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th><strong>Tag Name</strong></th>
          <th><strong>Created Time</strong></th>
          <th><strong></strong></th>
        </tr>
      </thead>
      <tbody>
        <% @record_tags.each do |record_tag| %>
          <tr>
            <td>
              <i class="fa-solid fa-tag mr-2"></i><%= record_tag.tag_name %>
            </td>
            <td>
              <i class="far fa-clock"></i><%= record_tag.created_at.strftime("%a %Y.%m.%d %H:%M") %>
            </td>
            <td>
              <%= link_to "Destroy", admin_record_tag_path(record_tag.id), method: :delete, data: { confirm: 'Are you sure really?' }, class: "btn btn-outline-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-center mt-5">
  <%= paginate @record_tags, theme: 'twitter-bootstrap-4' %>
</div>