<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <h1 class="about">About</h1><br>
      <p><strong>Hello! Welcome to WellnessJourney!</strong></p>
      <p><strong>This site is for anyone who incorporates daily exercise into their routine,</strong></p>
      <p><strong>those who have recently started strength training, </strong></p>
      <p><strong>or those who are unsure about how to do strength training.</strong></p>
      <p><strong>You can also find opinions and advice from experienced individuals.</strong></p>
      <p><strong>We cater to all purposes and uses!</strong></p>
      <p><strong>Let's enjoy your fitness life!</strong></p>
    </div>
  </div>
</div>