<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <h1 class="about">About</h1>
      <p> Hello! Welcome to WellnessJourney!</p>
      <p>This site is for anyone who incorporates daily exercise into their routine, </p>
      <p>those who have recently started strength training, </p>
      <p>or those who are unsure about how to do strength training.</p>
      <p>You can also find opinions and advice from experienced individuals.</p>
      <p>We cater to all purposes and uses!</p>
      <p>Let's enjoy your fitness life!</p>
      <br>
      <p>こんにちは！WellnessJourneyへようこそ！</p>
      <p>このサイトは日々の運動を日課にしている方や</p>
      <p>最近筋トレを始めた方、</p>
      <p>筋トレを始めてみたけどやり方がいまいちわからない方、</p>
      <p>経験者の意見を聞きたい方などなど</p>
      <p>どのような用途でもご利用いただくことが出来ます！</p>
      <p>さあ！今日から筋トレを始めて健康な体を手に入れよう！</p>
    </div>
  </div>
</div>