@use '~bootstrap/scss/bootstrap';

body {
  font-family: cursive;
}

footer {
  margin-top: auto;
  height: auto;
  width: 100%;
}

.footer_adjustments {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.about {
  color: red;
  font-size: 96px;
}

.fire {
  color: red;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

 /* pagenation layouts */
$pagenation_color: rgb(128,128,128);

 .page-item.active .page-link {
   background-color: $pagenation_color;
   border-color: $pagenation_color;
 }
 .a page-link {
   color: $pagenation_color;
 }
 .page-item a:hover {
   color: $pagenation_color;
 }
 .page-item a {
   color: $pagenation_color;
 }

@media (min-width: 992px) {
.container.bg-secondary {
  max-width: 100%;
 }
}

@media (min-width: 540px) {
.container.bg-secondary {
  max-width: 100%;
 }
}
