<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h1><strong>Editing Record Details of Admin</strong></h1>
    </div>
  </div>
  
  <div class="col-md-12 mt-5">
    <%= form_with model: [:admin, @health_record] do |f| %>
      <table>
        <tbody>
          <tr>
            
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>  
</div>