<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h1><strong>Editing User Details of Admin</strong></h1>
    </div>
  </div>
</div>