<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h2><strong>My Favorite Records</strong></h2>
    </div>
  </div>

  <div class="col-md-12 d-flex justify-content-center mr-5 mt-5">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Title<strong></strong></th>
          <th>Opinion</th>
        </tr>
      </thead>
      <tbody>
        <% @favorite_records.each do |health_record| %>
          <tr>
            <td>
              <%= link_to health_record.genre.name, health_record_path(health_record), class: "text-dark" %>
            </td>
            <td>
              <%= health_record.exercise %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="actions col-lg-7 offset-lg-5 mt-3">
      <%= link_to "Back", user_path(@user), class: "btn btn-outline-secondary btn-sm" %>
    </div>
  </div>
</div>