<div class="container mt-5">
  <div class="col-md-12 mx-auto">
    <div class="row col-lg-8 justify-content-left">
      <h2><strong>My Favorite Records</strong></h2>
    </div>
  </div>

  <div class="col-md-10 d-flex justify-content-center mr-5 mt-5">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @favorite_records.each do |health_record| %>
            <td>
              <%= link_to health_record.genre.name, health_record_path(health_record) %>
            </td>
            <td>
              <%= health_record.exercise %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>