<div class="container bg-warning">
  <div class="row">
    <div class="col pt-3 text-center">
      <p><i class="fa-solid fa-person-running"></i>Wellness_Journey.inc<i class="fa-solid fa-person-running"></i></p>
    </div>
  </div>
</div>
